.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
}

span {
  font-size: 25px;
  color: white;
  margin-top: 15px;
}

img {
  height: 80%;
}

.square {
  color:rgb(223, 237, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 3px solid #61dafb;
  box-sizing: border-box;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 25px;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
  margin-bottom: 20px;
}

.fourGrid {
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 70px 70px 70px 70px;
}

button {
  margin-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  background-color: #61dafb;
}
.gridBtn {
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
  background-color:#0ea5cf;
}

button:active {
  scale:.9;
  background-color: #61dafb;
}

h3 {
  color:rgb(212, 221, 230);
  margin-bottom: 5px;
}
