* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App {
  text-align: center;
  max-width: 100vw;
  min-height: 96vh;
  background-color: #232323;
  padding-bottom: 30px;
  /* background-size: cover; */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

span {
  font-size: 25px;
  color: white;
  margin-top: 15px;
}

.blueSpan {
  color:#61dafb;
}

p {
  color: white;
}

.lessMargin {
  margin-top: -10px;
}

img {
  height: 80%;
}

.square, .orange, .purple, .green, .red, .yellow {
  color:rgb(223, 237, 248);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #61dafb;
  box-sizing: border-box;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 25px;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
  margin-bottom: 20px;
}

.fourGrid {
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: 70px 70px 70px 70px;
}

button {
  margin-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  background-color: #61dafb;
  border-width: 0px;
}

a {
  color:#0ea5cf;
}

.aDiv {
  margin-top: 20px;
}

a:hover {
  cursor: pointer;
}

.gridBtn {
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
  background-color:#0ea5cf;
}

button:active {
  scale:.9;
  background-color: #61dafb;
}

h3 {
  color:rgb(212, 221, 230);
  margin-bottom: 5px;
}

.orange {
  border: 3px solid #fbc26b;
}

.buttonOrange {
  background-color: #fbc26b;
}

.buttonOrange:hover {
  cursor: pointer;
  background-color: #fd9e0e;
}

.buttonOrange:active {
  scale: .9;
  background-color: #fbc26b;
}

.orangeA {
  color:#fbc26b;
}

.purple {
  border: 3px solid #ff34ee;
}

.buttonPurple {
  background-color: #ff34ee;
}

.buttonPurple:hover {
  cursor: pointer;
  background-color: #d31bd3;
}

.buttonPurple:active {
  scale: .9;
  background-color: #eb05eb;
}

.purpleA {
  color:#ff34ee;
}

.green {
  border: 3px solid #7fffb0;
}

.buttonGreen {
  background-color: #7fffb0;
}

.buttonGreen:hover {
  cursor: pointer;
  background-color: #00e658;
}

.buttonGreen:active {
  scale: .9;
  background-color: #7fffb0;
}

.greenA {
  color:#7fffb0;
}

.red {
  border: 3px solid #f91616;
}

.buttonRed {
  background-color: #f91616;
  color: white;
}

.buttonRed:hover {
  cursor: pointer;
  background-color: #d00404;
}

.buttonRed:active {
  scale: .9;
  background-color: #f91616;
}

.redA {
  color:#f91616;
}

.yellow {
  border: 3px solid #ffff00;
}

.buttonYellow {
  background-color: #fafa51;
}

.buttonYellow:hover {
  cursor: pointer;
  background-color: #e0d912;
}

.buttonYellow:active {
  scale: .9;
  background-color: #fafa51;
}

.yellowA {
  color:#fafa51;
}
